name: nightly
on:
  schedule:
    - cron: '2 2 * * *'
  workflow_dispatch:
jobs:
  create-tag:
    name: Create tag
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 0
      - name: Set tag name
        id: git_tag
        run: echo "tag=$(git describe --tags --match '[0-9].[0-9].[0-9]')" >> "$GITHUB_OUTPUT"
      - name: check if tag exists
        id: tag_exists
        run: |
          set -x
          exists=false
          [ "$(git tag -l "${TAG}")" = "${TAG}" ] && exists=true
          [ "$(git tag -l "nightly-${TAG}")" = "nightly-${TAG}" ] && exists=true
          echo "result=${exists}" >> "$GITHUB_OUTPUT"
        env:
          TAG: ${{ steps.git_tag.outputs.tag }}
      - name: Create tag
        uses: actions/github-script@v8
        with:
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'refs/tags/nightly-${{ steps.git_tag.outputs.tag }}',
              sha: context.sha
            })
        if: ${{ steps.tag_exists.outputs.result != 'true' }}
